<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="SampleSuite" parallel="false">

    <!-- Define the test suite -->
    <test name="Login Page Test">
        <!-- Set any parameters (if needed) -->
<!--        <parameter name="browser" value="chrome"/>-->

        <!--        <packages>-->
        <!--            <package name="mytests" />-->
        <!--        </packages>-->

        <!--        Define the classes to be executed-->
        <classes>
<!--            <class name="mytests.Class1"/>-->
<!--            <class name="mytests.SearchCustomer"/>-->
            <class name="mytests.LoginTest"/>
        </classes>
    </test>

</suite> <!-- End of suite block -->
